<!DOCTYPE html>

<html>
<head>
    <link href="~/Styles/MDY.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Lista</title>
</head>
<body>
    <div> 
        <div class="Titulo">Demo 01:MVC -Capas-Serializador CSV</div>
        <div class="Sutbtitulo">Lista de Productos</div>
        <div id="divProducto"></div>
    </div>

    <script src="~/java/Lista.js"></script>
</body>
</html>
